@charset "UTF-8";

/*
    paleta de cores
    verde: #49a09d
    lilas: #5f2c82
*/
* {
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}



main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute; /*confg sempre no meio da tela.*/
    top: 50%;
    left: 50%;
    overflow: hidden; /*o que tiver fora da borda ira recortar*/

    background-color: white;
    width: 270px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transform: translate(-50%, -50%); /*colocar o transform sempre para o final da linha do codigo.*/
    transition: width .3s, height .3s; /*transição para aumento de tela.*/
    transition-timing-function: ease; /*suaviza a animação*/
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pexels-erika-augusto-5596336.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    /*background-color: black;*/
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% - 44px); /*calculo para encaixar a borda ate o final do campo, calculo com base no width da borda de fundo.*/
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-14px); /*para ajustar para cima*/
}

div.campo > input:focus-within { /*fica branco quando clica na caixa para preencher os dados.*/
    background-color: white;
}

form > input[type=submit] { /*formatacao do botao entrar.*/
    display: block; /*posicionar em uma linha so*/
    font-size: 1em;
    width: 100%; /*100% é da tela do conteiner, 100vw é da pagina toda*/
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #1f4644;
}

form > a.botao { /*a link .botao da classe botao.*/
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #1f4644;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #63d6d2;
}

form > a.botao > i {
    font-size: 0.8em;
}